{% extends "template.html" %}
{% block content %}
    {{ cdn | safe }}
    <script>
        function button_click() {
            $("#btn").on("click", function () {
                $("#frame").empty()
                $.ajax({
                    url: "{{ url_for('graf') }}",
                    data: {
                        type: "denní_souhrn",
                        start: 2020
                    },
                    type: "GET",
                    dataType: "json",
                })
                    .done(function (text) {
                        const item = JSON.parse(text);
                        Bokeh.embed.embed_item(item, "frame");
                    });
            })
        }

        $(document).ready(function () {
            let loading = $("#loadingIndicator")
            $(document)
                .ajaxStart(function () {
                    loading.removeAttr("hidden")
                    console.log("loading začal")
                })
                .ajaxStop(function () {
                    loading.attr("hidden", true)
                    console.log("konec")
                });

            button_click()
        });
    </script>
    <div class="container-fluid">
        <div class="row col-5 p-2">
            <button class="btn btn-primary" id="btn">Tlačítko</button>
        </div>
        <div class="spinner-border align-center" role="status" id="loadingIndicator" hidden>
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="row" id="frame"></div>
    </div>
{% endblock content %}
